Your job is to perform the following tasks; for each task generate a separate section:
1. Read the text delimited by triple underscore (___).
2. Write a summary of it, highlighting the most important concepts.
3. Rephrase the summary as it was a paragraph{{style}}.

___
{{prompt}}
___